*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background: linear-gradient(to bottom, #1b2838, #66c0f4);
}
.header {
    width: 100%;
    height: 5%;
    padding-top: 5%;
}
h1 {
    color: white;
    text-align: center;
}
label {
    color: white;
}
.contents {
    width: 100%;
    height: 95%;
    padding: 2%;
    padding-top: 0;
    display: inline-block;
}
.interactibles {
    width: 15%;
    height: 70%;
    padding: 5%;
    display: inline-block;
    background-color: #171a21;
}
.interactions {
    padding: 5%;   
}
.charts {
    width: 55%;
    height: 70%;
    padding: 5%;
    display: inline-block;
}
.bar-chart {
    width: 100%;
    height: 80%;
    padding: 5%;
    display: inline-block;
    background-color: #171a21;
}
.line-chart {
    width: 100%;
    height: 10%;
    padding: 5%;
    margin: auto;
    display: inline-block;
    background-color: #16222D; 
}
rect {
    pointer-events: all;
    fill-opacity: 0;
    stroke-opacity: 0;
    z-index: 1;
}

.tooltip {
    position: absolute;
    padding: 4px;
    background-color: steelblue;
    color: white;
    border: 1px solid white;
    border-radius: 1%;
    display: none;
    opacity: .75;
    font-size: 8px;
}